# Please rename this file to .env so you can run the app.

# By default, these configurations should be right:

HOST=0.0.0.0
PORT=1337

# Please fill the following secrets with random strings.
# You can use the following command in the Terminal to generate random secrets:
# node -p "require('crypto').randomBytes(48).toString('base64');"
# Then copy the secrets without any semicolons etc.
# Example: 
# APP_KEYS=Wwvn6RJ/G538NRgqsfkOoA5SAK1NQsPsZLFCVPmxBhNlYUhBVYV3LvhmUAFXke5K

APP_KEYS=

API_TOKEN_SALT=

TRANSFER_TOKEN_SALT=

ADMIN_JWT_SECRET=

# Users and permissions Plugin will automatically set JWT_SECRET for frontend users.
# Please leave lines blank at the end of the file to let users and permissions plugin do its work in a line that is not commented out now!


